/*
 * Global styles and variables.
 */

:root {
	--color-black: #333;
	--bg-color: #F8F1E5;
	--font-main: 'Playfair Display', serif;
	--font-copy: 'Roboto', sans-serif;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	/* overflow: hidden; /* to disable scrolling */
	font-variant-numeric: lining-nums;
}

input[type=text] {
	width: 30px;
	height: 30px;
	padding: 2px 6px 8px 4px;
	margin: 0 4px;
	border: 1px solid var(--color-black);
	box-shadow: 5px 5px 0px var(--color-black);
	border-radius: 0;
	font-size: 20px;
	text-align: center;
}

input[type=radio] {
    height: 15px;
}

#customCategory {
	width: 150px;
	text-align: left;
	padding: 4px 6px 6px 14px;
}

.hidden {
	display: none;
}


/*
 * Animations 
 */

.o0 {
	opacity: 0;
}

.fade {
  animation-duration: 0.4s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;;
	opacity: 0;
}

.fade-onload {
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/*
 * Button styles. 
 */

.enter-button {
	margin-left: 15px;
	transform: translateY(14px);
	background-color: white;
	border: 1px solid var(--color-black);
	padding: 7px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	cursor: pointer;
}

.enter-button:hover {
	box-shadow: 4px 4px 0px var(--color-black);
}

.arrow {
	position: absolute;
	margin-left: -10px;
	cursor: pointer;
}

.arrow.down {
	bottom: 48px;
}

.arrow.up {
	top: 44px;
}

.button.selected {
	opacity: 1;
	border: 1px solid var(--color-black);
	box-shadow: 5px 5px 0px var(--color-black);
}

.button {
	display: inline-block;
	margin: 0 16px 0 7px;
	padding: 8px 13px;
	opacity: .7;
	text-align: center;
	border: 1px dashed var(--color-black);
	background-color: white;
	cursor: pointer;
	box-shadow: none; 
	line-height: initial;
}

#ageButton {
	transform: translateY(9px);
}


/*
 * Text styles. 
 */

.fact,
.input-block,
.landing-title>p,
input {
	font-family: var(--font-main);
}

.infobox,
.legend {
	font-family: var(--font-copy);
}

.input-block {
	font-size: 20px;
	line-height: 60px;
}

.fact {
	font-size: 26px;
	padding: 25px 0px;
	font-family: var(--font-main);
}

.fact>span {
	display: inline-block;
	position: relative;
  padding: 0 3px 0 3px;
	color: white;
	white-space: nowrap;
}

.fact>span:after {
	content: '';
	position: absolute;
  height: 32px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: transparent;
	transition: all ease 0.5s;
	background: #2DA4A8;
  z-index: -99999;
  transform: rotate(-1deg);
}

.input-error {
	font-size: 16px;
	font-style: italic;
	box-shadow: 5px 5px 0px var(--color-black);
	background-color: #FF7A7A;
	border: 1px solid black;
	padding: 15px 19px;
}

#waffle-title {
	font-family: var(--font-main);
}

/*
 * Landing page.
 */

.landing-page {
	overflow: hidden;
	padding: 25px 100px;
}

.landing-title>p{
	margin: 0;
	font-size: 18em;
	color: var(--color-black);
}

.landing-title>p:nth-child(2){
	margin-top: -.5em;
}

.landing-input {
	padding: 0;
	line-height: inherit;
}

.dot1 {
	height: 400px;
	width: 400px;
	background-color: #FEA744;
	border-radius: 100%;
	position: absolute;
	top: -150px;
	left: 50vw;
}

.dot2 {
	height: 760px;
	width: 760px;
	background-color: #2DA4A8;
	border-radius: 100%;
	position: absolute;
	bottom: -260px;
	right: -12vw;
}


/*
 * Pages 
 */

.page {
	position: relative;
	height: 100vh;
}

.content {
	height: 100vh;
	display: grid;
	align-items: center;
	margin-left: 55px;
}

.pages {
	width: 30vw;
}

.infobox {
	background-color: #fff;
	box-shadow: 5px 5px 0px var(--color-black);
	border: 1px solid var(--color-black);
	border-radius: 4px;
	padding: 15px 19px;
	margin-top: 45px;
}


/*
 * Dotmatrix
 */

.container-dotmatrix {
	width: 70vw;
	position: fixed;
	z-index: 99;
	right: 0;
	top: 0;
}

#dotmatrix {
	display: grid;
	align-items: center;
	width: 70vw;
	max-width: 100vh;
	max-height:100vh;
	height: 100vh;
	margin: 0 auto;
}

.tooltip {
	background: rgba(255,255,255,95%);
	left: 130px;
	padding: 10px;
	position: fixed;
	text-align: left;
	top: 95px;
	z-index: 100;
	display: block;
	opacity: 0;
}
