:root {
    --chartWidth: 1300px;
}

body {
    margin: 0;
    background-color: #F8F1E5;
    overflow: hidden; /* to disable scrolling */
}

.container-text {
    width: calc(100vw - var(--chartWidth));
}

.container-dotChart {
    width: var(--chartWidth);
    height: 100vh;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
}

.page {
    position: relative;
    height: 100vh;
    border: 1px solid chartreuse;
}

#page2 {
    background-color: darkcyan;
}

.scroll{
     margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 50%;

}

.down {
    position:absolute;
    bottom:0;
    left:0;
}
