:root {
	--chartWidth: 1150px;
	--color-black: #333;
	--bg-color: #F8F1E5;
	--font: 'Playfair Display', serif;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	/* overflow: hidden; /* to disable scrolling */
	font-family: var(--font);
	font-variant-numeric: lining-nums;
}

input, button {font-family: inherit;}

input {
	width: 30px;
	height: 30px;
	padding: 2px 0px 8px 10px;
	margin-left: 15px;
	margin-right: 10px;
	border: 1px solid var(--color-black);
	box-shadow: 5px 5px 0px #000000;
	border-radius: 0;
	font-size: 20px;
}

input[type=radio] {
    height: 15px;
}

b {
	font-size: 40px;
	font-style: italic;
}

/*
 * buttons
 */

.enter-button {
	margin-left: 15px;
	transform: translateY(8px);
}


.arrow {
	position: absolute;
	margin-left: -10px;
}

.arrow.down {
	bottom: 48px;
}

.arrow.up {
	top: 44px;
}

.hidden {
	display: none;
}

/*
 * inputRows
 */

.inputRow {
	font-size: 22px;
	padding: 25px 100px;
}

.enterAge {
	padding: 0;
}

/*
 * text
 */

 .fact {
	font-size: 26px;
	padding: 25px 0px;
}

span {
    color: chartreuse;
}

.input-error {
    font-size: 16px;
    font-style: italic;
    padding-top: 15px;
}

.small {
	font-size: 16px;
}

/*
 * Landing page 
 */

.landing-page {
	overflow: hidden;
	padding: 25px 100px;
}

.landing-title>p{
	margin: 0;
	font-size: 18em;
	color: var(--color-black);
}

.landing-title>p:nth-child(2){
	margin-top: -.5em;
}

.dot1 {
	height: 400px;
	width: 400px;
	background-color: #FEA744;
	border-radius: 100%;
	position: absolute;
	top: -150px;
	left: 50vw;
}

.dot2 {
	height: 760px;
	width: 760px;
	background-color: #2DA4A8;
	border-radius: 100%;
	position: absolute;
	bottom: -260px;
	right: -12vw;
}

/*
 * pages
 */

.page {
	position: relative;
	height: 100vh;
}

.content {
	height: 100vh;
	display: grid;
	align-items: center;
	margin-left: 55px;
}

.content>div {
}

.pages {
	width: 30vw;
	/*font-family: var(--font);*/
}


.infobox {
	background-color: #fff;
	box-shadow: 5px 5px 0px var(--color-black);
	border: 1px solid var(--color-black);
	padding: 15px 19px;
}

/*
 * Dotmatrix
 */

.container-dotmatrix {
	width: 70vw;
	position: fixed;
	z-index: 99;
	right: 0;
	top: 0;
}

#dotmatrix {
	display: grid;
	align-items: center;
	width: 70vw;
	max-width: 100vh;
	max-height:100vh;
	height: 100vh;
	margin: 0 auto;
}

.tooltip {
	background: rgba(255,255,255,95%);
	/*color: var(--color-black);*/
	left: 130px;
	padding: 10px;
	position: fixed;
	text-align: left;
	top: 95px;
	z-index: 100;
	display: block;
	opacity: 0;
}
